<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inmia">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="inmia"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inmia">
        <activity
            android:name=".superadmin.NotificacionesSuperAdminActivity"
            android:exported="false" />
        <activity
            android:name=".superadmin.PerfilUserActivity"
            android:exported="false" />
        <activity
            android:name=".superadmin.PerfilAsesorActivity"
            android:exported="false" />
        <activity
            android:name=".admin.RegistroInmobiliariaActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteDetallesCitaActivity2"
            android:exported="false" />
        <activity
            android:name=".RegisterFotoActivity"
            android:exported="false" />
        <activity
            android:name=".superadmin.SolicitudesActivity"
            android:exported="false" />
        <activity
            android:name=".superadmin.CrearAdminActivity"
            android:exported="false" />
        <activity
            android:name=".superadmin.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".superadmin.LogsActivity"
            android:exported="false" />
        <activity
            android:name=".superadmin.RankingCompletoActivity"
            android:exported="false" />
        <activity
            android:name=".superadmin.ReportesActivity"
            android:exported="false" />
        <activity
            android:name=".superadmin.GestionUsuariosActivity"
            android:exported="false" /> <!-- SPLASH: Punto de entrada de la app -->
        <activity
            android:name=".cliente.ClienteTusTarjetasActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteSeparacionesActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteSeparacionAprobadaActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteSeguridadActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteRegistrarCitaActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClientePerfilClienteActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClientePagoSeparacionActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClientePagoExitosoActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteNotificacionesActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteMensajesActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteInformacionPersonalActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteIdiomaActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteExplorarMapaActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteDetalleCitaActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteDetallePropiedadActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteConfigNotificacionesActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteHomeActivity2"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteCitasActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteChatActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.NotificacionesHistorialActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.DetallePropiedadActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.BusquedaMapaActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.TusSeparacionesActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.MensajesActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.TusCitasActivity"
            android:exported="false" /> <!-- SPLASH: Punto de entrada de la app -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Inmia.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- ONBOARDING -->
        <activity
            android:name=".OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" /> <!-- LOGIN -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" /> <!-- FORGOT PASSWORD -->
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" /> <!-- REGISTER -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" /> <!-- MAIN -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia" /> <!-- CLIENTE -->
        <activity
            android:name=".cliente.ClienteHomeActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" /> <!-- ASESOR -->
        <activity
            android:name=".asesor.AsesorHomeActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" /> <!-- ADMIN -->
        <activity
            android:name=".admin.AdminHomeActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" /> <!-- SUPERADMIN -->
        <activity
            android:name=".admin.AdminProyectosActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" /> <!-- ASESOR -->
        <activity
            android:name=".admin.AdminProyectoDetalleActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" />
        <activity
            android:name=".admin.AdminProyectoEditarActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" />
        <activity
            android:name=".admin.AdminProyectoNuevoActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" />
        <activity
            android:name=".admin.AdminProyectoImagenActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" />
        <activity
            android:name=".admin.AdminProyectoGaleriaActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" />
        <activity
            android:name=".admin.AdminAsesoresActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" />
        <activity
            android:name=".admin.AdminAsesorDetalleCarlosActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" /> <!-- ADMIN -->
        <activity
            android:name=".asesor.AsesorChatActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" />
        <activity
            android:name=".asesor.AsesorChatDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" />
        <activity
            android:name=".asesor.AsesorNotificacionesActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" />
        <activity
            android:name=".asesor.AsesorCitasActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" />
        <activity
            android:name=".asesor.AsesorCitaDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" />
        <activity
            android:name=".asesor.AsesorSeparacionesActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" />
        <activity
            android:name=".asesor.AsesorSeparacionDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" />
        <activity
            android:name=".asesor.AsesorPerfilActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" /> <!-- ADMIN -->
        <activity
            android:name=".admin.AdminAsesorNuevoActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" />
        <activity
            android:name=".admin.AdminReportesActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" />
        <activity
            android:name=".admin.AdminPerfilActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" /> <!-- SUPERADMIN -->
        <activity
            android:name=".superadmin.SuperAdminHomeActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" />
        <activity
            android:name=".cliente.ClienteDetallesCitaActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar" />

        <activity
            android:name=".cliente.ClienteBuscarActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".cliente.ClienteBuzonNotificacionesActivity"
            android:exported="false" />

    </application>

</manifest>